.dodaj-ponudu-container {
    width: 100%;
}

.naslov-container {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.dodaj-left {
    float: left;
    width: 50%;
}

.dodaj-date-picker {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

.dodaj-select-menu {
    display: inline-block;
    width: 100%;
    text-align: center;
    align-items: center;
}

.dodaj-inputs {
    width: 100%;
    text-align: center;
    align-items: center;
}

input[type=text] {
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 12px 20px;
    margin-top: 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .nacin-prevoza, .polazna-lokacija {
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 12px 20px;
    margin-top: 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .lokacija-putovanja {
    align-items: center;
    text-align: center;
    width: 16.5%;
    padding: 12px 20px;
    margin-top: 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .btn-dodaj-slike {
    width: 100%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
  }

  .dodaj-naslov {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
  }

  .dodaj-right {
    float: right;
    width: 50%;
  }

  .textareas {
    margin-top: 10%;
    text-align: center;
    width: 100%;
  }

  .dodaj-tip-smestaja {
    margin-top: 10%;
    font-weight: bold;
    text-align: center;
    align-items: center;
  }

  .dodaj-karakteristike {
    border: 0;
    font-weight: bold;
    text-align: center;
    align-items: center;
  }

  .button-dodaj {
    background-color: #FFFFD2; 
    color: #AA96DA; 
    border: none; 
    padding: 15px 30px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-top: 5px;
    margin-bottom: 5%;
    cursor: pointer; 
    border-radius: 10px; 
  }

  .dugme-potvrdi-ponudu {
    width: 100%;
    text-align: center;
    margin-top: 5%;
  }

  input[type=checkbox] {
    vertical-align: middle;
    position: relative; 
    bottom: 1px;
}  
  
label {
    display: block;
}

.fakultative-opis {
  width: 100%;
  height: 150px;
  overflow-y:scroll;
}